.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.main2 {
    height: 300px !important;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

.border2 {
    border: 1px solid black;
    
}